Navbar in all routes
<nav>
  <ul>
    <li>{{#link-to 'index'}}Index{{/link-to}}
        <ul><li>{{#link-to 'index.my-list'}}My list{{/link-to}}</li></ul>
    </li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}